<%# Define comment ID %>
<% comment_id ="c_" + comment.short_id %>
<li id="<%= comment_id %>" class="ml3 mb3 mt3">
  <%# Comment meta data %>
  <p class="mv0">
    <%# Comment upvote button %>
    <% if @user %>
      <%# TODO (pyk): Update this to link_to %>
      <a href="#"
        class="link black-50 tc mr1">
        <svg width="10" height="12" viewBox="0 0 14 12" fill="none" xmlns="http://www.w3.org/2000/svg" style="margin-top: 3px;">
        <path d="M7 0L13.9282 12H0.0717969L7 0Z" fill="rgba(0,0,0,0.3)" />
        </svg>
      </a>
    <% else %>
      <%# TODO (pyk): Update this to link_to %>
      <a href="/login"
        class="link black-50 tc mr1">
        <svg width="10" height="12" viewBox="0 0 14 12" fill="none" xmlns="http://www.w3.org/2000/svg" style="margin-top: 3px;">
        <path d="M7 0L13.9282 12H0.0717969L7 0Z" fill="rgba(0,0,0,0.3)" />
        </svg>
      </a>
    <% end %>

    <%# Display current points %>
    <span class="gray">
    <% if comment.score >= 2 %>
      <%= comment.score %> points
    <% else %>
      <%= comment.score %> point
    <% end %>
      by
    </span>

    <%# User username%>
    <a href="/u/<%= comment.user.username %>"
      class="gray underline-hover link mr1"><%= comment.user.username %></a>

    <%# Time and link to the comment %>
    <a class="link gray underline-hover"
      href="#<%= comment_id %>t">
      <%= time_ago_in_words_label(comment.created_at) %>
    </a>

    <% if comment.is_editable_by_user?(@user) %>
      <span class="gray">|
        <%= link_to "edit", edit_comment_path(comment),
          :id => "edit_" + comment_id,
          :class => "gray link underline-hover" %>
        |
      </span>
    <% end %>

      <%# Show collapse button %>
    <a onclick="expandOrCollapseComment(this, 'comment_data_<%= comment.short_id %>')"
      class="link gray underline-hover"
      href="javascript:void(0)">
       [ - ]
    </a>
  </p>

  <%# We group the comment data into one to make it collapseable %>
  <div id="comment_data_<%= comment.short_id %>">
    <%# Comment content %>
    <div id="<%= comment_id %>t" class="pa3">
      <%= comment.comment %>
    </div>

    <p class="pl3 ma0">
      <a onclick="toggleReplyForm('reply_<%= comment.short_id %>')"
        href="javascript:void(0)"
        class="gray"
        id="<%= "reply_form_toggler_" + comment.short_id %>">reply</a>
    </p>

    <%# Display reply box %>
    <% if @user %>
      <%= render partial: "comments/comment_form",
        locals: {
          comment: Comment.new(:parent => comment),
          story_short_id: story_short_id,
          css_classes: "ml3 mt3 new_comment_or_reply dn",
          button_text: "Add reply"
        }
      %>
    <% else %>
      <%# Disable comment form for unauthenticated user %>
      <%= render partial: "comments/comment_form",
        locals: {
          comment: Comment.new(:parent => comment),
          story_short_id: story_short_id,
          css_classes: "ml3 mt3 new_comment_or_reply dn",
          disabled: true,
          button_text: "Add reply"
        }
      %>
    <% end %>

    <%# Get and show the replies data, if any
      We use recursive technique to render the comments tree %>
    <% replies ||= comment.children %>
    <ol id="replies_<%= comment.short_id%>" class="list pl3">
      <% if replies.present? %>
        <% replies.each do |reply| %>
          <%= render partial: "comments/comment",
          locals: {
            comment: reply,
            replies: reply.children,
            story_short_id: story_short_id,
          } %>
        <% end %>
      <% end %>
    </ol>
  </div>

</li>

