<div class="cf">
  <div class="fl w-100 ph3">
    <h3>Edit comment</h3>
    <p>On
      <a href="<%= @comment.story.comments_path %>">
        <%= @comment.story.title %>
      </a>.
    </p>
  </div>
</div>

<div class="cf pb3">
  <div class="fl w-100 ph3">
    <%= form_for @comment,
      :url => comment_path(@comment),
      :method => :put,
      :html => { :id => "edit_comment" } do |f| %>

      <%# Show errors if posted comment is invalid %>
      <% if @comment.errors.any? %>
        <div class="mv3 lh-copy">
          <span class="black">🙅</span> <span class="b">Oops</span>
          <ul class="pl3 error-color">
          <% @comment.errors[:comment].each do |message| %>
            <li><%= message %></li>
          <% end %>
          </ul>
        </div>
      <% end %>

      <%= f.text_area :comment,
        :class => "input-reset ba b--black-20 pa2 mb2 db w-100 pa2",
        :rows => 8,
        :value => @comment.comment  %>

      <%# Show markdown helper %>
      <small id="name-desc" class="fr f7 black-60 db mb2">
        Markdown are supported
      </small>

      <%# Show button %>
      <%= f.submit "Update comment",
        :class => "pv1 ph2 mr3" %>
    <% end %>
  </div>
</div>
