<% if @cur_url == "/recent" %>
  <div class="cf">
    <div class="fl w-100 ph3"> <em>The <a href="/newest">newest</a> stories that have not yet reached the front page.</em>
    </div>
  </div>
<% end %>
<% if @tag %>
  <div class="cf">
    <div class="fl w-100 ph3">
      Stories <a href="/tags">tagged</a> as
      <a href="<%= tag_path(@tag) %>"
        class="<%= @tag.css_class %> tag mr1 gray"
        title="<%= @tag.description %>"
        style="background-color: <%= @tag.background_color %>; color: <%= @tag.text_color %>;"><%= @tag.tag %></a>
      &ndash;
      <%= @tag.description %>
    </div>
  </div>
<% end %>

<%# List of stories %>
<div class="cf">
  <%# Set start number of list of stories, page 2 from 26 etc %>
  <ol class="gray list ph3">
    <%# Render each story/row %>
    <%# Set start number of list of stories, page 2 from 26 etc %>
    <% if @page >= 2 %>
      <% story_index = ((@page - 1) * 25 ) + 1 %>
    <% else %>
      <% story_index = 1 %>
    <% end %>
    <% @stories.each do |story| %>
      <li class="mb2">
        <div id="story_<%= story.short_id %>"
          class="flex">
          <%# Voting %>
          <div class="voting-column tc mr2">
            <% if @user %>
              <%# If user is already upvote the story, then
              update link to the unvote story. Otherwise
              add link to upvote the story %>
              <% if story.upvoters.exists?(@user.id) %>
                <%= link_to story_unvote_path(story),
                  :method => :post,
                  :remote => true,
                  :class => "link unvote_story",
                  :id => "unvote_story_" + story.short_id,
                  "data-type" => "json" do %>
                  <svg width="10" height="12" viewBox="0 0 14 12" fill="none" xmlns="http://www.w3.org/2000/svg" style="margin-top: 3px;">
                    <path d="M7 0L13.9282 12H0.0717969L7 0Z" fill="#5319e7" />
                  </svg>
                <% end %>
                <%= link_to story_upvote_path(story),
                  :method => :post,
                  :remote => true,
                  :class => "link upvote_story dn",
                  :id => "upvote_story_" + story.short_id,
                  "data-type" => "json" do %>
                  <svg width="10" height="12" viewBox="0 0 14 12" fill="none" xmlns="http://www.w3.org/2000/svg" style="margin-top: 3px;">
                    <path d="M7 0L13.9282 12H0.0717969L7 0Z" fill="rgba(0,0,0,0.3)" />
                  </svg>
                <% end %>
              <% else %>
                <%= link_to story_unvote_path(story),
                  :method => :post,
                  :remote => true,
                  :class => "link unvote_story dn",
                  :id => "unvote_story_" + story.short_id,
                  "data-type" => "json" do %>
                  <svg width="10" height="12" viewBox="0 0 14 12" fill="none" xmlns="http://www.w3.org/2000/svg" style="margin-top: 3px;">
                    <path d="M7 0L13.9282 12H0.0717969L7 0Z" fill="#5319e7" />
                  </svg>
                <% end %>
                <%= link_to story_upvote_path(story),
                  :method => :post,
                  :remote => true,
                  :class => "link upvote_story",
                  :id => "upvote_story_" + story.short_id,
                  "data-type" => "json" do %>
                  <svg width="10" height="12" viewBox="0 0 14 12" fill="none" xmlns="http://www.w3.org/2000/svg" style="margin-top: 3px;">
                    <path d="M7 0L13.9282 12H0.0717969L7 0Z" fill="rgba(0,0,0,0.3)" />
                  </svg>
                <% end %>
              <% end %>
            <% else %>
              <a href="javascript:alert('Login or Join now to upvote stories')"
                class="link black-50 tc">
                <svg width="10" height="12" viewBox="0 0 14 12" fill="none" xmlns="http://www.w3.org/2000/svg" style="margin-top: 3px;">
                  <path d="M7 0L13.9282 12H0.0717969L7 0Z" fill="rgba(0,0,0,0.3)" />
                </svg>
              </a>
            <% end %>

            <%# Display index number %>
            <br/>
            <span class="gray">
              <%= story_index %>.
              <% story_index += 1 %>
            </span>
          </div>

          <%# Detail %>
          <div class="detail-column">
            <% if story.can_be_seen_by_user?(@user) %>
              <h4 class="ma0 lh-copy">
                <a id="link-<%= story.short_id %>"
                  href="<%= story.url_or_comments_path %>"
                  class="link underline-hover black-80 mr1">
                <%= break_long_words(story.title) %>
                </a>

                <% if story.markeddown_description.present? %>
                  <a id="description_<%= story.short_id %>"
                    class="link gray mr1"
                    title="<%= truncate(story.description, :length => 250) %>"
                    href="<%= story.comments_path %>"><i class="fas fa-align-left"></i></a>
                <% end %>
                <span>
                  <% story.tags.each do |tag| %>
                    <a href="<%= tag_path(tag) %>"
                      class="<%= tag.css_class %> tag mr1 gray"
                      title="<%= tag.description %>"
                      style="background-color: <%= tag.background_color %>; color: <%= tag.text_color %>;"><%= tag.tag %></a>
                  <% end %>
                </span>

                <% if story.domain.present? %>
                  <a class="domain gray underline-hover"
                    href="<%= story.domain_search_url %>">
                    <%= break_long_words(story.domain) %>
                  </a>
                <% end %>
              </h4>
              <p class="ma0 gray mt1 lh-copy">
                <%# Display current points %>
                <span
                  id="current_story_point_<%= story.short_id %>"
                  data-value="<%= story.points %>"
                >
                <% if story.points >= 2 %>
                  <%= story.points %> points
                <% else %>
                  <%= story.points %> point
                <% end %>
                </span>

                <%# Display 'authored by' or 'via' %>
                <% if story.user_is_author? %>
                  authored by
                <% else %>
                  via
                <% end %>

                <%# User username%>
                <a href="/u/<%= story.user.username %>"
                  class="<%= story.html_class_for_user %> gray underline-hover link mr1"><%= story.user.username %></a>

                <%# Time story submitted %>
                <%= time_ago_in_words_label(story.created_at) %>

                <%# Show link to cache url, if story url is present %>
                <% if story.url.present? %>
                | <a href="<%= story.archive_url %>"
                    rel="nofollow"
                    target="_blank"
                    class="gray underline-hover link">cached</a>
                <% end %>

                <%# Show link to save story %>
                <%# TODO: add condition user, is authored by user etc %>
                | <a href="javascript:alert('Login or Join now to save stories')"
                    rel="nofollow"
                    target="_blank"
                    class="gray underline-hover link">save</a>

                <%# Show link to edit story, if story is editable by current user %>
                <% if story.is_editable_by_user?(@user) %>
                | <a href="<%= edit_story_path(story.short_id)%>"
                  class="gray underline-hover link">edit</a>
                <% end %>

                <%# Show link to comments %>
                | <a id="comments_<%= story.short_id %>"
                    class="gray underline-hover link"
                    href="<%= story.comments_path %>">
                  <% if story.comments_count == 0 %>
                  discuss
                  <% else %>
                  <%= story.comments_count %>
                  comment<%= story.comments_count == 1 ? "" : "s" %>
                  <% end %>
                </a>
              </p>

            <% end %>
            <% if story.is_gone? %>
              [Story removed by <%= story.is_moderated? ? "moderator" : "original submitter" %>]
            <% end %>
          </div>
        </div>
      </li>
    <% end %>
  </ol>
</div>

<%# More link %>
<div class="ph3 flex mv3">
  <div class="voting-column tc mr2">
  </div>
  <div class="detail-column">
    <% if @show_more %>
      <a class="link black-80 underline-hover b"
        href="<%= @cur_url %><%= @cur_url == "/" ? "" : "/" %>page/<%= @page + 1 %>">
        More Stories
      </a>
    <% end %>
  </div>
</div>