<div class="cf mb3">
  <% if story.errors.count == 1 && story.already_posted_story %>
    <%# This is for already posted error %>
    <div class="fl w-20">
      <%= f.label :error, class: "b db mb2 error-color" do %>
        Oops
      <% end%>
    </div>
    <div class="fl w-80 measure">
      <p class="ma0">This story was already submitted <%= time_ago_in_words_label(story.already_posted_story.created_at) %>.
      Please view the <a href="<%= story.already_posted_story.comments_path %>"
        target="_blank">previous discussion</a> for this story.</p>
    </div>
  <% elsif story.errors.any? %>
    <%# This is for valid/invalid error %>
    <%# error_messages_for story %>
    <div class="fl w-20">
      <%= f.label :error, class: "b db mb2 error-color" do %>
        Oops
      <% end%>
    </div>
    <div class="fl w-80 measure">
      <ul class="pl3 ma0">
        <% story.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>

  <% elsif !story.errors.any? && story.already_posted_story %>
    <div class="flash-notice">
    <h2>Note: This story was already submitted <%=
      time_ago_in_words_label(story.already_posted_story.created_at) %>, but
      may be submitted again.</h2>
    <p>
    Please view the <a href="<%= story.already_posted_story.comments_path %>"
    target="_blank">previous discussion</a> for this story first.  If the content
    has changed or warrants new discussion, you may submit it again.
    </p>
    </div>

    <% if defined?(f) %>
      <%= f.hidden_field :seen_previous %>
    <% else %>
      <%= form_for story do |f| %>
        <%= f.hidden_field :seen_previous %>
      <% end %>
    <% end %>
  <% end %>
</div>
