<%# Show story %>
<div class="cf">
  <div class="fl w-100 ph3 black-80 lh-copy fs-11pt mt3 flex">
    <%# Voting %>
    <div class="voting-column tc mr2">
      <%# Render upvote & unvote button %>
      <%= render partial: "stories/upvote_button",
        locals: {
          story: @story,
        } %>
    </div>

    <%# Detail %>
    <div class="detail-column">
      <h4 class="ma0 lh-copy">
        <%# Story title %>
        <a href="<%= @story.url_or_comments_path %>"
        class="link underline-hover black-80 mr1">
        <%= break_long_words(@story.title) %></a>

        <%# Show description icon, if description is present %>
        <% if @story.markeddown_description.present? %>
          <a class="link gray mr1"
          title="<%= truncate(@story.description, :length => 250) %>"
          href="<%= @story.comments_path %>"><i class="fas fa-align-left"></i></a>
        <% end %>

        <%# Show tags %>
        <span>
          <% @story.tags.each do |tag| %>
            <a href="<%= tag_path(tag) %>"
            class="<%= tag.css_class %> tag mr1 gray"
            title="<%= tag.description %>"
            style="background-color: <%= tag.background_color %>; color: <%= tag.text_color %>;"><%= tag.tag %></a>
          <% end %>
        </span>

        <%# Show domain if any %>
        <% if @story.domain.present? %>
        <a class="link gray underline-hover normal"
        href="<%= @story.domain_search_url %>" >
        <%= break_long_words(@story.domain) %>
        </a>
        <% end %>
      </h4>

      <%# Display meta data %>
      <p class="ma0 gray mt1 lh-copy">
        <%# Display current points %>
        <span
          id="current_story_point_<%= @story.short_id %>"
          data-value="<%= @story.points %>"
        >
        <% if @story.points >= 2 %>
          <%= @story.points %> points
        <% else %>
          <%= @story.points %> point
        <% end %>
        </span>

        <%# Display 'authored by' or 'via' %>
        <% if @story.user_is_author? %>
          authored by
        <% else %>
          via
        <% end %>

        <%# User username%>
        <a href="/u/<%= @story.user.username %>"
          class="<%= @story.html_class_for_user %> gray underline-hover link">
          <%= @story.user.username %>
        </a>

        <%# Time story submitted %>
        <%= time_ago_in_words_label(@story.created_at) %>

        <%# Show link to cache url, if story url is present %>
        <% if @story.url.present? %>
        | <a href="<%= @story.archive_url %>"
            rel="nofollow"
            target="_blank"
            class="gray underline-hover link">cached</a>
        <% end %>

        <%# Show link to edit story, if story is editable by current user %>
        <% if @story.is_editable_by_user?(@user) %>
        | <a href="<%= edit_story_path(@story.short_id)%>"
          class="gray underline-hover link">edit</a>
        <% end %>

        <%# Show link to comments %>
        | <span class="gray ">
          <% if @story.comments_count == 0 %>
          no comments
          <% else %>
          <%= @story.comments_count %>
          comment<%= @story.comments_count == 1 ? "" : "s" %>
          <% end %>
        </span>
      </p>
    </div>
  </div>
</div>

<div class="cf">
  <div class="fl w-100 ph3 fs-11pt lh-copy">
    <%# Display story text if any %>
    <% if @story.markeddown_description.present? %>
      <div class="ml3">
        <%= raw @story.markeddown_description %>
      </div>
    <% end %>
  </div>
</div>

<%# Comments %>
<div class="cf">
  <div class="fl w-100 ph3 fs-11pt lh-copy">
    <%# Display comment box %>
    <% if @user %>
      <%= render partial: "comments/comment_form",
        locals: {
          comment: @new_comment,
          story_short_id: @new_comment.story.short_id,
        }
      %>
    <% else %>
      <%# Disable comment form for unauthenticated user %>
      <%= render partial: "comments/comment_form",
        locals: {
          comment: @new_comment,
          story_short_id: @new_comment.story.short_id,
          disabled: true
        }
      %>
    <% end %>

    <%# Display comments %>
    <ol
      id="comments"
      class="list pl0 mt5">
      <%= render partial: "comments/comment",
        collection: @comments,
        as: :comment,
        locals: {
          story_short_id: @story.short_id,
        } %>
    </ol>
  </div>
</div>

