
    <%# Mobile navigation %>
    <div class="cf pv3 dn-ns db">
      <div class="fl ph3 pb3 ">
        <a
          class="link white bg-black b pa2 code dib mr2"
          href="/"
          title="<%= Rails.application.name %>"
          style=" padding: 5px; font-size: 9pt; ">
          0x
        </a>
      </div>
      <% if !@user %>
        <div class="fr mw-100 ph3">
          <a href="/auth/github"
            class="link black underline-hover fr pa2 dib">
            <i class="fab fa-github"></i>  <span class="b">Login</span>
          </a>
        </div>
        <div class="fl w-100 ph3">
          <% header_links.each do |u,v| %>
            <a href="<%= u %>" class="link black-80 underline-hover pv1 mr2 dib <%= v[:class].join(" ") %>"><%=
              v[:title] %></a>
          <% end %>
        </div>
      <% else %>
        <div class="fl mw-100 ph3">
          <% header_links.each do |u,v| %>
            <a href="<%= u %>" class="link black-80 underline-hover pv1 mr2 dib <%= v[:class].join(" ") %>"><%=
              v[:title] %></a>
          <% end %>

          <% right_header_links.each do |u,v| %>
            <a href="<%= u %>" class="link black-80 underline-hover pv1 mr2 dib <%= v[:class].join(" ") %>"><%=
              v[:title] %></a>
          <% end %>
        </div>
      <% end %>
    </div>
